tr:nth-child(even){
    background-color: pink;
}

p a {
    background-color: green;
}

h1{
    text-align: center;
}

.big{
    font-size: 2rem;
}

body{
    background-image: url("flower.jpg"); 
    background-repeat: repeat-x;
}