@for $var from 1 through 4{
    .div#{$var}{
        width: $var*40px;
        background-color: yellow;
        border: $var*5px solid black;
        margin: $var*10px;
        height: $var*20px;
    }
}