h2{
    background-color: yellow;
    color: darkmagenta;
    text-align: center;
}
div{
    p{
        font-weight: bold;
        font-size: 20px;
    }
    .para4{
        background-color: darkorange;
        color: darkred;
    }
}